<div class="main notFound">
  <div class="notFoundCard nprinsley-text-glitchan">
    <p>X ERROR {{ errCode }} X</p>
    <p>! {{ err }} !</p>
  </div>
</div>
<script>
  document.querySelector('.menu').style = 'display: none;'
  document.querySelector('.logoTxt').href = '/'
</script>