* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Cybp";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Cyberpunk.ttf") format("truetype");
}
@font-face {
  font-family: "DsTerminal";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/DS-TERM.TTF") format("truetype");
}
@font-face {
  font-family: "Console";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Web437_ACM_VGA_9x16.woff") format("woff");
}
@font-face {
  font-family: "evilSound";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/EvilSound-nRM8M.ttf") format("truetype");
}
body {
  color: #fff;
  font-family: Console;
  font-size: 16px;
}
body p, body h1, body h2, body h3, body h4, body h5, body h6, body img {
  margin: 0;
  padding: 0;
}
body .navbar {
  transition: background-color 0.3s ease;
}
body .navbar .logoTxt {
  color: yellow;
  font-family: Cybp, system-ui;
  font-size: 0.8rem;
}
body .navbar .thBtn {
  aspect-ratio: 1/1;
  border-radius: 50%;
}
body .navbar .light {
  background: #fff;
  color: #000;
}
body .navbar .dark {
  background: #212529;
  color: #fff;
}
body .navbar .menu {
  display: flex;
  margin: 0;
  padding: 0;
}
body .navbar .menu li {
  border-bottom: 1px solid yellow;
  list-style: none;
  font-size: 0.6rem;
  margin: 0 0 0 2px;
  padding: 0;
  text-decoration: none;
}
body .navbar .menu li a {
  color: #fff;
  padding: 5px;
  text-decoration: none;
}
body .navbar .menu li a:hover {
  color: yellow;
}
body header {
  align-content: center;
  aspect-ratio: 16/9;
  background: url("../img/header.gif") no-repeat center center;
  background-size: 100% 100%;
  text-align: start;
}
body header .hdrInfo {
  background: rgba(0, 0, 0, 0.7);
  color: #FF003C;
  font-family: DsTerminal;
  padding: 50px 20px;
}
body .main {
  align-items: center;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}
body .main .ImgCont {
  align-items: center;
  background: yellow;
  display: flex;
  justify-content: center;
  padding: 20px 0 0 0;
  width: 100%;
}
body .main .ImgCont img {
  width: 50%;
}
body .main .PCont {
  padding: 50px 10px;
  width: 100%;
}
body .main .PCont .aboutTitle {
  color: #27BDBB;
}
body .main .PCont .aboutText {
  color: #fff;
  font-size: 0.9rem;
}
body .main .PCont .instOL {
  margin: 0 auto;
  width: 90%;
}
body .main .PCont .caurS {
  margin: 50px 0 0 0;
}
body .main .PCont .cdHead {
  display: flex;
  opacity: 0.8;
  width: 100%;
}
body .main .PCont .cdHead .copyBtn {
  background: #27BDBB;
  border: 2px solid #fff;
  border-radius: 15px 0 0 0;
  color: #fff;
  width: 30%;
}
body .main .PCont .cdHead .copyBtn:hover {
  background: rgba(39, 189, 187, 0.5);
}
body .main .PCont .cdHead h6 {
  background: rgba(39, 189, 187, 0.5);
  border: 2px solid #27BDBB;
  border-bottom: none;
  border-left: none;
  border-radius: 0 15px 0 0;
  color: #00f0ff;
  padding: 10px 0 0 0;
  text-align: center;
  width: 70%;
}
body .main .PCont .cdHead span {
  color: #4bff21;
}
body .main .Script {
  overflow-y: auto;
  width: 100%;
}
body .main .Script .instSs {
  box-shadow: 0 0 1px 0 rgba(39, 189, 187, 0.5), 0 0 4px 1px rgba(39, 189, 187, 0.5), 0 0 16px 4px rgba(39, 189, 187, 0.5);
  margin: 10px 0 10px 0;
  width: 100%;
}
body .main .cptbBrws h5 {
  color: #27BDBB;
  text-align: center;
}
body .main .cptbBrws ul {
  margin: 0 auto;
}
body .main .cptbBrws ul li img {
  width: 40px;
}
body .playground {
  background: url("../img/pgBg.png") no-repeat center center;
  background-size: 100% 100%;
}
body .notFound {
  background: url("../img/errBg.jpeg") no-repeat center center;
  background-size: 100% 100%;
}
body .notFound .notFoundCard {
  background: rgba(0, 0, 0, 0.7);
  padding: 50px 20px;
  width: 100%;
}
body .notFound .notFoundCard p {
  color: #FF003C;
  font-family: DsTerminal;
  font-weight: normal !important;
}
body .fot {
  background: #000;
}
body .fot .byName {
  color: #00FF2D;
  font-family: evilSound;
  font-weight: bold;
}

@media screen and (max-width: 550px) {
  body header {
    aspect-ratio: 1/2;
  }
}

/*# sourceMappingURL=style.css.map */
