      <header>
        <!--<img style="width: 100%;" src="img/header.gif">-->
        <div class="hdrInfo">
          <p class="hdrTitle">X ERROR X</p>
          <p class="hdrText">! /concience/feelings[] --> is Empty !</p>
        </div>
      </header>