      <header>
        <!--<img style="width: 100%;" src="img/header.gif">-->
        <div class="hdrInfo">
          <p class="hdrTitle"># Script</p>
          <p class="hdrText"># Funciones</p>
        </div>
      </header>