<!DOCTYPE html>
<html lang="es_mx">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CyberPsychosis</title>
    {{>head}}
    <link rel="icon" href="img/logo.png" type="image/icon type">
    </head>
    <body data-bs-theme="dark">
      {{>navigation}}
      
      {{>header}}
      
      {{{body}}}

      {{>footer}}

<script>
  const settings = (theme) => {
  $('body').attr('data-bs-theme', theme);
  const isLight = theme === 'light';
  $('.ico').toggleClass('bi-sun-fill', !isLight).toggleClass('bi-moon-fill', isLight);
  $('.thBtn').toggleClass('dark', isLight).toggleClass('light', !isLight);
}

const setTheme = () => {
  const currentTheme = $('.ico').hasClass('bi-moon-fill') ? 'light' : 'dark';
  settings(currentTheme);
  localStorage.setItem('theme', currentTheme);
}

const savedTheme = localStorage.getItem('theme');
if (savedTheme) {
  settings(savedTheme);
}

$('.thBtn').click(() => {
  $('.ico').toggleClass('bi-sun-fill bi-moon-fill');
  setTheme();
});
</script>

  </body>
</html>